@use './variables' as *;

//FONT SIZES HAVE BEEN PRIORITIZED TO MATCH MOCKUPS

//=================== Font Faces ===================
@font-face {
    font-family: Avenir-Opentype;
    src: url('../../assets/fonts/AvenirNextLTPro-Regular.otf')
        format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: Avenir-Opentype;
    src: url('../../assets/fonts/AvenirNextLTPro-Demi.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: Avenir-Opentype;
    src: url('../../assets/fonts/AvenirNextLTPro-Bold.otf') format('opentype');
    font-weight: 700;
}

//=================== Desktop and Tables sizes ===================

//h1
@mixin Page-Header-Font__Desktop-Tablet {
    font-size: 3.25rem;
    line-height: 68px;
    // font-weight: 700;
}

//h2
@mixin Section-Header-Font__Desktop-Tablet {
    font-size: 3rem;
    line-height: 44px;
    // font-weight: 700;
}

//h3
@mixin Subheader-Font__Desktop-Tablet {
    font-size: 2rem;
    line-height: 32px;
    // font-weight: 600;
}

//h4
@mixin Footer-Copy__Desktop-Tablet {
    font-size: 1.75rem;
    line-height: 20px;
    // font-weight: 400;
}

//h5
@mixin Body-Bold__Desktop-Tablet {
    font-size: 1rem;
    line-height: 22px;
    // font-weight: 700;
}

//p
@mixin Body-Copy__Desktop-Tablet {
    font-size: 1rem;
    line-height: 22px;
    // font-weight: 400;
}

//=================== Mobile sizes ===================

//h1
@mixin Page-Header-Font__Mobile {
    font-size: 3rem;
    line-height: 50px;
    // font-weight: 700;
}

//h2
@mixin Section-Header-Font__Mobile {
    font-size: 2.5rem;
    line-height: 46px;
    // font-weight: 700;
}

//h3
@mixin Subheader-Font__Mobile {
    font-size: 2.25rem;
    line-height: 40px;
    // font-weight: 600;
}

//h4
@mixin Footer-Copy__Mobile {
    font-size: 2rem;
    line-height: 28px;
    // font-weight: 400;
}

//h5
@mixin Body-Bold__Mobile {
    font-size: 1.5rem;
    line-height: 28px;
    // font-weight: 700;
}

//p
@mixin Body-Copy__Mobile {
    font-size: 1.25rem;
    line-height: 28px;
    // font-weight: 400;
}

//=================== tags ===================

//Page Header
h1 {
    font-family: Avenir-Opentype;
    font-weight: 700;
    @include Page-Header-Font__Mobile;
    @include tablet {
        @include Page-Header-Font__Desktop-Tablet;
    }
}

//Section Header
h2 {
    font-family: Avenir-Opentype;
    font-weight: 700;
    @include Section-Header-Font__Mobile;
    @include tablet {
        @include Section-Header-Font__Desktop-Tablet;
    }
}

//Sub Header
h3 {
    font-family: Avenir-Opentype;
    font-weight: 600;

    @include Subheader-Font__Mobile;
    @include tablet {
        @include Subheader-Font__Desktop-Tablet;
    }
}

//Footer Copy
h4 {
    font-family: Avenir-Opentype;
    font-weight: 400;
    @include Footer-Copy__Mobile;
    @include tablet {
        @include Footer-Copy__Desktop-Tablet;
    }
}

//Labels and buttons
h5 {
    font-family: Avenir-Opentype;
    font-weight: 600;
    @include Body-Bold__Mobile;
    @include tablet {
        @include Body-Bold__Desktop-Tablet;
    }
}

//Body
p {
    font-family: Avenir-Opentype;
    font-weight: 400;
    @include Body-Copy__Mobile;
    @include tablet {
        @include Body-Copy__Desktop-Tablet;
    }
}
