$mobile-padding: 1.5rem;

$tablet-width: 768px;
$desktop-width: 1200px;

@mixin tablet {
    @media (min-width: $tablet-width) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-width) {
        @content;
    }
}

@mixin desktop-padding {
    padding-left: 120px;
    padding-right: 120px;
}

@mixin tablet-padding {
    padding-left: 72px;
    padding-right: 72px;
}

@mixin shows-desktop-padding {
    padding-left: 120px;
    padding-right: 102px;
}

@mixin shows-tablet-padding {
    padding-left: 54px;
    padding-right: 54px;
}

@mixin tablet-padding--narrow {
    padding-left: 56px;
    padding-right: 56px;
}

@mixin comments-margin {
    margin-left: 72px;
    margin-right: 72px;
}

@mixin comments-margin-narrow {
    margin-left: 200px;
    margin-right: 200px;
}

//colors-primary
$bandsite-black: #323232;
$bandsite-black-transparent: rgba(32, 32, 32, 0.5);
$silver: #afafaf;
$white: #fff;

//colors-secondary
$bandsite-dark-black: #000;
$mercury: #e1e1e1;
$alabaster: #fafafa;
