$mobile-padding: 1.5rem;

$tablet-width: 768px;
$desktop-width: 1200px;

@mixin tablet {
    @media (min-width: $tablet-width) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-width) {
        @content;
    }
}

@mixin mobile-padding {
    padding-left: 48px;
    padding-right: 48px;
}

@mixin desktop-padding {
    padding-left: 120px;
    padding-right: 120px;
}

@mixin tablet-padding {
    padding-left: 72px;
    padding-right: 72px;
}

//colors-primary
$bandsite-black: #323232;
$bandsite-black-transparent: rgba(32, 32, 32, 0.5);
$silver: #afafaf;
$white: #fff;
$brainflix-blue: #0095ff;

//colors-secondary
$bandsite-dark-black: #000;
$mercury: #e1e1e1;
$alabaster: #fafafa;
$brainflix-darkblue: #0065ad;
