@use '../styles/partials/font-styles' as *;
@use '../styles/partials/variables' as *;

.upload {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding: $mobile-padding;
    @include tablet {
        @include tablet-padding;
    }
    @include desktop {
        @include desktop-padding;
    }

    &__empty {
        border-color: red;
    }

    &__main-container {
        display: flex;
        flex-direction: column;
        @include desktop {
            flex-direction: row;
        }
    }

    &__thumbnail {
        width: 100%;
        @include tablet {
            width: 40%;
        }
    }

    &__subheader {
        font-family: Avenir-Opentype;
        font-weight: 600;
        @include Body-Bold__Mobile;
        @include tablet {
            @include Body-Bold__Desktop-Tablet;
        }
        color: $silver;
    }

    &__form {
        width: 100%;
    }

    &__button-pair-conatiner {
        display: flex;
        @include tablet {
            flex-direction: row-reverse;
            justify-content: flex-start;
        }
    }

    &__thumbnail-container {
    }
}
.button__width {
    width: 100%;
    @include tablet {
        width: 25%;
    }
}

.hide-divider {
    display: none;
    @include tablet {
        display: flex;
    }
}
