@use '../styles/partials/font-styles' as *;
@use '../styles/partials/variables' as *;

.header {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        // background-color: $brainflix-blue;
        // padding: 36px 0;
        padding: $mobile-padding;
    }
    &__navbar {
        width: 100%;
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
            align-items: center;
        }
    }
    &__default-img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        object-fit: cover;
        &--mobile {
            @include tablet {
                display: none;
            }
        }

        &--tablet {
            display: none;
            @include tablet {
                display: flex;
                flex-direction: row;
            }
        }
    }

    &__search {
        &--container {
            position: relative;
            padding: 1.5rem 1.5rem 1.5rem 0;
            margin: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
        }

        &--textbox {
            height: 3rem;
            margin: 0;
            padding: 15px;
            padding-left: 40px;
            border-radius: 5px;
            width: 100%;
        }

        &--icon {
            position: absolute;
            left: 10px;
            width: 2rem;
            height: 2rem;
        }
        &-icon-pair {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
        }
    }

    &__upload {
        &--container {
            position: relative;
            padding: 0px;
            margin: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
        }
        &--button {
            width: 100%;
            background-color: $brainflix-blue;
            color: white;
            height: 3rem;
        }
        &--icon {
            position: absolute;
            // bottom: 8px;
            left: 3px;
            width: 2em;
            height: 2em;
        }
    }
}
