@use '../styles/partials/font-styles' as *;
@use '../styles/partials/variables' as *;

.header {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $mobile-padding;
        @include tablet {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            @include tablet-padding;
        }

        @include desktop {
            @include desktop-padding;
        }
    }
    &__brainflix-logo {
        height: 2.5rem;
        width: auto;
        display: flex;
    }
    &__navbar {
        width: 100%;
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
        }
    }
    &__default-img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        object-fit: cover;
        &--mobile {
            @include tablet {
                display: none;
            }
        }

        &--tablet {
            display: none;
            @include tablet {
                display: flex;
                flex-direction: row;
            }
        }
    }

    &__search {
        &--container {
            position: relative;
            padding: 1.5rem 1.5rem 1.5rem 0;

            margin: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
        }

        &--textbox {
            height: 3rem;
            margin: 0;
            padding: 15px;
            padding-left: 3.5rem;
            border-radius: 5px;
            border: 1px solid $mercury;
            background-color: $alabaster;
            color: $brainflix-black;
            width: 100%;
            font-size: 22px;
        }

        &--icon {
            position: absolute;
            left: 12px;
            width: 2rem;
            height: 2rem;
        }
        &-icon-pair {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            @include tablet {
                width: 45%;
                padding-left: 1.5rem;
            }
        }
    }

    &__upload {
        &--container {
            position: relative;
            padding: 0px;
            margin: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            @include tablet {
                width: 30%;
                padding-right: 1.5rem;
            }
        }
        &--button {
            width: 100%;
            background-color: $brainflix-blue;
            color: white;
            height: 3rem;
            border-radius: 4px;
            border: none;
            &:hover {
                background-color: $brainflix-darkblue;
            }
        }
        &--icon {
            position: absolute;
            left: 10px;
            width: 2em;
            height: 2em;
        }
    }
}
