@use '../styles/partials/font-styles' as *;
@use '../styles/partials/variables' as *;

.sidebar {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    color: $silver;

    @include desktop {
        padding-left: 1.5rem;
        border-left: 1px solid $mercury;
    }
    // padding: $mobile-padding;
    &__header {
        // padding: $mobile-padding;
        margin: 0;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        @include desktop {
            padding-top: 2.5rem;
        }
    }
    &__thumbnail {
        display: flex;
        flex-direction: row;
        margin: 1rem 0;
        color: $brainflix-black;
        &--img {
            width: 15rem;
            border-radius: 1rem;
        }
        &--text {
            margin-left: 1rem;
            display: flex;
            flex-direction: column;
            height: auto;
            justify-content: space-between;
        }
    }
}
