@use '../styles/partials/font-styles' as *;
@use '../styles/partials/variables' as *;

.video {
    &__player {
        width: 100%;
        height: auto;
    }
}
.video__player {
    @include tablet {
        @include tablet-padding;
    }

    @include desktop {
        padding-left: 220px;
        padding-right: 220px;
    }
    background-color: black;
}
